.item {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
}

.item:hover {
    background-color: #ddddff99;
}

.selected {
    border-width: 2px;
}

#mapa {
    width: 500px;
    height: 500px;
    background-color: #dddddd;
}

#selection {
    background-color: #ddddff99;
    border: 1px solid #ddddff;
    display: none;
    position: absolute;
}