#map {
    background: linear-gradient(
        0deg,
        #000,
        #000 1px,
        #fff0 1px,
        #fff0 66px,
        #000 66px,
        #000 66px,
        #fff0 67px,
        #fff0 131px,
        #000 131px,
        #000 132px
    ), 
    linear-gradient(
        90deg,
        #000,
        #000 1px,
        #fff0 1px,
        #fff0 66px,
        #000 66px,
        #000 66px,
        #fff0 67px,
        #fff0 131px,
        #000 131px,
        #000 132px
    );
    background-size: 132px 132px;
    border: 1px solid black;
    position: relative;
    background-attachment: local;
    overflow: auto;
}

#corner {
    position: absolute;
    height: 1px;
    width: 1px;
}